/* CSS files add styling rules to your content */

*{
  margin: 0;
  font-family: Roboto;
  font-style: normal;
}

@keyframes blink {  
  from { opacity: 1; } 
  50% { opacity: 0; }
  to { opacity: 1; } 
}

@keyframes blinkOut {  
  from { opacity: 0; } 
  to { opacity: 1; } 
}

@keyframes blinkIn {  
  from { opacity: 1; } 
  to { opacity: 0; } 
}

:root{

}

@media screen and (min-width: 376px){
  :root{
    --main-container-width: 1210px;
    --button-width: 250px;
    --button-margin-top: 50px;
    --button-height: 50px;
    --article-p-description-margin-top: 34px;
    --article-p-margin-top: 25px;
    --question-container-width: 670px;
    --question-container-padding: 70px 0;
    --question-label-margin-top: 64px;
    --question-label-margin-between: 25px;
    --body-min-height: calc(100vh - 100px);
    --footer-top: max(100%, calc(100vh - 100px));
    /*fonts*/
    --article-headline: 48px;
    --question: 30px;
    --article-p: 22px;
    --question-descr: 22px;
    --button: 18px;
    --question-number: 18px;
    --question-input: 16px;
    --article-p-description: 16px;
    --question-label: 16px;
    --footer-link: 16px;
    --language-link: 14px;
  }

  main{
    background: #FFFFFF;
    border-radius: 14px;
    width: var(--main-container-width);
    align-self: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-self: center;
    box-shadow: 0px 50px 200px rgba(0, 0, 0, 0.07);
    margin: 25px 0;
  }
  
  .hidden{
    visibility: hidden;
    opacity: 0;
  }
    
  .start, .end{
    flex-direction: row;
    justify-content: space-between;
  }
  .start > img, .end > img{
    width: 520px;
    padding: 100px 0 100px 75px;
  }
  .start > div, .end > div{
    padding: 140px 75px 100px 85px;
    width: 520px;
  }
  .end > img{
    padding: 95px 95px 95px 0;
  }
  .end > div{
    padding: 140px 0 115px 95px;
    width: 420px;
  }

  .buttons{
    flex-direction: row;
  }

}
@media screen and (max-width: 375px){
  :root{
    --main-container-width: calc(100% - 32px);
    --button-width: 100%;
    --button-margin-top: 25px;
    --button-height: 40px;
    --article-p-description-margin-top: 12px;
    --article-p-margin-top: 15px;
    --question-container-width: 100%;
    --question-container-padding: 35px 20px;
    --question-label-margin-top: 25px;
    --question-label-margin-between: 15px;
    --body-min-height: calc(100vh - 150px);
    --footer-top: max(100%, calc(100vh - 120px));
    /*fonts*/
    --article-headline: 26px;
    --question: 26px;
    --article-p: 16px;
    --question-descr: 16px;
    --button: 14px;
    --question-number: 14px;
    --question-input: 14px;
    --article-p-description: 16px;
    --question-label: 14px;
    --footer-link: 15px;
    --language-link: 14px;
  }
  
  main{
    background: #FFFFFF;
    border-radius: 14px;
    width: var(--main-container-width);
    align-self: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-self: center;
    box-shadow: 0px 50px 200px rgba(0, 0, 0, 0.07);
    margin: 25px 16px;
  }
  
  .hidden{
    display:none!important;
  }

  .start, .end{
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
  }
  .start > img, .end > img{
    box-sizing: border-box;
    width: 100%;
    padding: 25px 20px;
  }
  .start > div, .end > div{
    box-sizing: border-box;
    padding: 25px 20px;
    width: 100%;
  }
  .start > div, .end > div{
    padding-top:0;
  }
  .end, .buttons{
    flex-direction: column-reverse;
  }

  .buttons > .button:last-child {
      margin-top: 25px;
  }
  .buttons > .button {
      margin-top: 15px;
  }
  
  footer > .links > a{
    display: none;
  }
  #langChanger{
    display:initial;
  }
}

body {
  display: flex;
  flex-direction: column;
  background: #F9F9F9;
  position: relative;
  justify-content: center;
  height: 100%;
  min-height: var(--body-min-height);
}

div.shadow{
  display: none;
  position: absolute;
  z-index: -1;
  width: 50vw;
  height: 20vw;
  align-self: center;
  background: #FFFFFF;
  box-shadow: 0px 4px 200px rgba(0, 0, 0, 0.14);
  border-radius: 14px;
}

footer {
  position: absolute;
  top: var(--footer-top);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
  width: var(--main-container-width);
  height: 100px;
  align-items: center;
  box-sizing: border-box;
}
footer > div > a {
  font-weight: 300;
  font-size: var(--footer-link);
  line-height: 135%;
  color: #838383;
  padding-right: 30px;
  text-decoration: none;
  transition-duration: 0.2s;
  cursor:pointer;
}
footer > div > a > img{
  margin-bottom: -2px;
  margin-right: 5px;
  opacity: 0.5;
  transition-duration: 0.2s;
}
footer > div > a:hover > img{
  opacity: 1;
}
footer > div > a:hover {
  color: #333;
}
footer > a > img{
  opacity: 0.5;
  transition-duration: 0.2s;
}
footer > a > img:hover{
  opacity: 1;
}
footer > div > a:first-child{
  position: relative;
}

#language {
  display: flex;
  position: absolute;
  top: -149px;
  left: 0;
  list-style: none;
  height: 130px;
  width: 110px;
  background: white;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  padding-left: 20px;
  padding: 10px 0;
  box-sizing: border-box;
  border-radius: 6px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.07);
}
#language li:hover {
  background: #fbfbfb;
}
#language li.current {
  font-weight: 500;
}
#language li {
  font-weight: 300;
  font-size: var(--language-link);
  line-height: 180%;
  color: #666666;
  padding-left: 20px;
}
#language:after{
  content: " ";
  position: absolute;
  top: 100%;
  left: 30%;
  margin-left: -10px;
  border-width: 10px;
  border-style: solid;
  border-color: white transparent transparent transparent;
}

.button{
  background: #FF3366;
  border-radius: 50px;
  border: none;
  align-items: flex-start;
  width: var(--button-width);
  height: var(--button-height);
  box-sizing: border-box;
  font-weight: 300;
  font-size: var(--button);
  line-height: 150%;
  color: #FFFFFF;
  margin-top: var(--button-margin-top);
  outline: none;
  cursor: pointer;
  transition-duration: 0.2s;
}
.button[class*=outline]{
  border: 1px solid #FF3366;
  background: none;
  color: #FF3366;
}
.button:hover{  
  background: #D92B57;
}
.button[class*=outline]:hover{  
  background: none;
}
.button:disabled{
  opacity: 0.1;
}

.none{
  display: none!important;
}

.start{
  display: flex;
}
.end, .question{
  display: none;
}
.start > div, .end > div{
  display: flex;
  flex-direction: column;
}
.start > div > span, .end > div > span{
  font-weight: bold;
  font-size: var(--article-headline);
  line-height: 130%;
  color: #000000;
}
.start > div > p, .end > div > p{
  font-weight: 300;
  font-size: var(--article-p);
  line-height: 150%;
  color: #666666;
  margin-top: var(--article-p-margin-top);
}
.end > div > p.description{
  font-weight: 500;
  font-size: var(--article-p-description);
  margin-top: var(--article-p-description-margin-top);
}

.question{
  flex-direction: column;
  padding: var(--question-container-padding);
  width: var(--question-container-width);
  align-self: center;
  box-sizing: border-box;
}

#questionNumber{
  font-weight: 300;
  font-size: var(--question-number);
  line-height: 150%;
  text-align: center;
  color: #999999;
}

#question{
  font-weight: bold;
  font-size: var(--question);
  line-height: 130%;
  text-align: center;
  color: #000000;
  margin-top: 13px;
}

#description{
  font-weight: 300;
  font-size: var(--question-descr);
  line-height: 150%;
  text-align: center;
  color: #666666;
  margin-top: 35px;
}

.label, .label span{
  font-weight: 300;
  font-size: var(--question-label);
  line-height: 150%;
  color: #FF3366;
  margin-top: var(--question-label-margin-top);
}
.label > span{
  color: #000000;
}
textarea ~ .label {
  margin-top: var(--question-label-margin-between);
}

#input, #company{
  background: #FFFFFF;
  border: 1px solid #CCCCCC;
  box-sizing: border-box;
  border-radius: 6px;
  resize: none;
  height: 138px;
  margin-top: 10px;
  outline: none;
  font-weight: 300;
  font-size: var(--question-input);
  line-height: 150%;
  display: flex;
  align-items: center;
  padding: 13px 10px;
}
#input:focus, #company:focus{
  box-shadow: 0 0 4px #f36;
  border-color: #f36;
}
#company{
  height: 50px;
}

.buttons{
  display: flex;
  justify-content: space-between;
}
