/* CSS files add styling rules to your content */

*{
  margin: 0;
  font-family: Roboto;
  font-style: normal;
}

@keyframes blink {  
  from { opacity: 1; } 
  50% { opacity: 0; }
  to { opacity: 1; } 
}

:root{

}

body {
  display: flex;
  flex-direction: column;
  background: #F9F9F9;
  position: relative;
  justify-content: center;
  height: 100%;
  min-height: calc(100vh - 100px);
}

main{
  background: #FFFFFF;
  border-radius: 14px;
  width: 1210px;
  align-self: center;
  box-sizing: border-box;
  min-height: 20vw;
  display: flex;
  flex-direction: column;
  justify-self: center;
  box-shadow: 0px 4px 200px rgba(0, 0, 0, 0.14);
}

div.shadow{
  display: none;
  position: absolute;
  z-index: -1;
  width: 50vw;
  height: 20vw;
  align-self: center;
  background: #FFFFFF;
  box-shadow: 0px 4px 200px rgba(0, 0, 0, 0.14);
  border-radius: 14px;
}

footer {
  position: absolute;
  top: max(100%, calc(100vh - 100px));
  display: flex;
  flex-direction: row;
  align-self: center;
  width: 1210px;
  justify-content: space-between;
  height: 100px;
  align-items: center;
  box-sizing: border-box;
}
footer > div > a {
  font-weight: 300;
  font-size: 16px;
  line-height: 135%;
  color: #b3b3b3;
  padding-right: 30px;
  text-decoration: none;
  transition-duration: 0.2s;
}
footer > div > a:hover {
  color: #333;
}
footer > a > img{
  opacity: 0.5;
  transition-duration: 0.2s;
}
footer > a > img:hover{
  opacity: 1;
}

#language{
  display: none;
}

.button{
  background: #FF3366;
  border-radius: 50px;
  border: none;
  align-items: flex-start;
  width: 250px;
  height: 50px;
  box-sizing: border-box;
  font-weight: 300;
  font-size: 18px;
  line-height: 150%;
  color: #FFFFFF;
  margin-top: 50px;
  outline: none;
  cursor: pointer;
  transition-duration: 0.2s;
}
.button[class*=outline]{
  border: 1px solid #FF3366;
  background: none;
  color: #FF3366;
}
.button:hover{  
  background: #D92B57;
}
.button[class*=outline]:hover{  
  background: none;
}
.button:disabled{
  opacity: 0.1;
}

.hidden{
  visibility: hidden;
  opacity: 0;
}
.none{
  display: none!important;
}

.start{
  display: flex;
}
.end, .question{
  display: none;
}

.start, .end{
  flex-direction: row;
  justify-content: space-between;
}
.start > img, .end > img{
  width: 520px;
  padding: 100px 0 100px 75px;
}
.start > div, .end > div{
  padding: 170px 75px 140px 85px;
  display: flex;
  flex-direction: column;
}
.start > div > span, .end > div > span{
  font-weight: bold;
  font-size: 48px;
  line-height: 130%;
  color: #000000;
}
.start > div > p, .end > div > p{
  font-weight: 300;
  font-size: 22px;
  line-height: 150%;
  color: #666666;
  margin-top: 25px;
}

.end > img{
  padding: 95px 95px 95px 0;
}
.end > div{
  padding: 140px 0 115px 95px;
  width: 420px;
}
.end > div > p.description{
  font-weight: 500;
  font-size: 16px;
  margin-top: 34px;
}

.question{
  flex-direction: column;
  padding: 71px 0;
  width: 670px;
  align-self: center;
}

#questionNumber{
  font-weight: 300;
  font-size: 18px;
  line-height: 150%;
  text-align: center;
  color: #999999;
}

#question{
  font-weight: bold;
  font-size: 30px;
  line-height: 130%;
  text-align: center;
  color: #000000;
  margin-top: 13px;
}

#description{
  font-weight: 300;
  font-size: 22px;
  line-height: 150%;
  text-align: center;
  color: #666666;
  margin-top: 35px;
}

.label, .label span{
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  color: #000000;
  margin-top: 64px;
}
.label > span{
  color: #FF3366;
}
textarea ~ .label {
  margin-top: 25px;
}

#input, #company{
  background: #FFFFFF;
  border: 1px solid #CCCCCC;
  box-sizing: border-box;
  border-radius: 6px;
  resize: none;
  height: 138px;
  margin-top: 10px;
  outline: none;
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  display: flex;
  align-items: center;
  padding: 13px 10px;
}
#input:focus, #company:focus{
  box-shadow: 0 0 4px #f36;
  border-color: #f36;
}
#company{
  height: 50px;
}

.buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
